# Today's Topics : Methods (Built-in Functions of class)

# STRING METHODS:

In [ ]:
# STRING METHODS:
name = "   aneeq kHatri ali   "

# cases
print(name)
print(name.upper())
print(name.lower())
print(name.title()) #first letter of every word will be capital
print(name.capitalize()) #first letter of first word will be capital

In [ ]:
name = "   aneeq kHatri ali   "


# strip
# removing spaces from starting and ending (known as trim in js/ts)
print(name)
print(name.strip())
print(name.lstrip())
print(name.rstrip())

In [ ]:
name = "   aneeq kHatri ali   "

# replace
value = "ramzan mubarak"
print(value.replace("ramzan","eid"))
var = "meet"
print(var.replace("e","a",1))

In [ ]:

# find
value = "ramzan is coming"
print(
    value.find("y")
)  # it will follow first occurence # if the value is not present in the string then it will give -1

In [ ]:

# index
value = "ramzan is coming"
print(
    value.index("i")
)  # it will follow first occurence # if the value is not present in the string then it will give error

In [ ]:

# startswith
value = " ramzan mubarak"
1.
print(value.startswith("ramzan"))  # will give False because the string contains a space

print(
    value.strip().startswith("ramzan")
)  # will give True because the string does'not contain a space

In [ ]:

value = " ramzan mubarak"
if value.strip().startswith("ramzan"):
    print("value is ok")
else:
    print("value is not ok")

In [ ]:

# split
value = "monday,tuesday,wednesday,thursday,friday,saturday,sunday"
list_val = value.split(",")
print("----".join(list_val))

# LIST METHODS

In [ ]:
value = "monday,tuesday,wednesday,thursday,friday,saturday,sunday"
list_val = value.split(",")
print("Normal List: ", list_val)

In [ ]:
value = "monday,tuesday,wednesday,thursday,friday,saturday,sunday"
list_val = value.split(",")
# append (add value at the end)
list_val.append("Dec")
print("append: ", list_val)

In [ ]:
value = "monday,tuesday,wednesday,thursday,friday,saturday,sunday"
list_val = value.split(",")
# insert (add value at particular index)
list_val.insert(5, "Jan")
print("insert: ", list_val)

In [ ]:
value = "monday,tuesday,wednesday,thursday,friday,saturday,sunday"
list_val = value.split(",")
print("normal list : ",list_val)
# pop
list_val.pop()
print("pop:", list_val)

In [ ]:
value = "monday,tuesday,wednesday,thursday,friday,saturday,sunday"
list_val = value.split(",")
print("printing pop method: ", list_val.pop())  # returning which value is removed

In [60]:
# extend, #will change the original list
list1 = ["jan", "feb", "mar", "apr", "may"]
list2 = ["jun", "july", "aug", "sep", "oct", "nov", "dec"]
# list1.extend(list2)
# print(list1)
# or we can do it using '+' # will use more space because we have to make another list named list3 here 
list3 = list1 + list2  # using more space
print(list3)

['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'july', 'aug', 'sep', 'oct', 'nov', 'dec']

In [1]:
# sort
list = [1, 2, 5, 3, 4, 0, 6, 7, 8, 9]
list.sort() #ascening
print(list)
list.sort(reverse=True) #descending
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [2]:
# reverse

list = [1, 2, 5, 3, 4, 0, 6, 7, 8, 9]
# 1. descending
list.sort()
list.reverse()
print(list)
# 2. ascending
list.sort(reverse=True)
list.reverse()
print(list)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# remove

list = [1, 2, 5, 3, 4, 0, 6, 7, 8, 9]
list.remove(0) #by index ❌ by value ✅
print(list)

[1, 2, 5, 3, 4, 6, 7, 8, 9]

In [10]:

# copy
list = [1, 2, 5, 3, 4, 0, 6, 7, 8, 9]
list2 = list.copy()
print("list: ", list)
print("list2: ", list2)
# 1. list[start: end] --> (start(inclusive), end(exclusive))
list3 = list[0:10]
print("list3: ", list3)
# 2.
list4 = list[0:10:2]  # list[start,end,gap-1]
print('list4: ',list4)  # [1, 5, 4, 6, 8]

list:  [1, 2, 5, 3, 4, 0, 6, 7, 8, 9]
list2:  [1, 2, 5, 3, 4, 0, 6, 7, 8, 9]
list3:  [1, 2, 5, 3, 4, 0, 6, 7, 8, 9]
list4:  [1, 5, 4, 6, 8]

# DICTIONARY METHODS

In [ ]:
# update
student = {"name": "ali", "age": 16}
print("before: ", student)

student.update({"age": 17}) #if present then change it
student.update({"rollno": 12345}) #if not present then add it
print("after: ", student)

before:  {'name': 'ali', 'age': 16}
after:  {'name': 'ali', 'age': 17, 'rollno': 12345}

In [ ]:
# pop
student = {"name": "ali", "age": 16}
print("before: ", student)

student.pop("age")
print("after: ", student)

before:  {'name': 'ali', 'age': 16}
{'name': 'ali'}